.movie-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
}

.movie-details-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.movie-details-video-container {
  margin-bottom: 20px;
}

.movie-details-description {
  font-size: 24px;
  margin-bottom: 20px;
}

.movie-details-button {
  background-color: #f0ad4e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.movie-details-button:hover {
  background-color: #eea236;
}
