/* MyNav.css

.navbar {
  background-color: #333;
}

.navbar-brand {
  color: #fff;
  font-size: 1.5rem;
}

.form-control {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.modal-header {
  background-color: #333;
  color: #fff;
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-footer .btn-secondary {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.modal-footer .btn-secondary:hover {
  color: #fff;
  background-color: #eea236;
  border-color: #eea236;
}

.modal-footer .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.modal-footer .btn-success:hover {
  color: #fff;
  background-color: #4cae4c;
  border-color: #4cae4c;
} */
